<div class="file_list_container" id="<%= title_id %>">
  <h2>
    <span class="group_name"><%= title %></span>
    (<span class="covered_percent"><span class="<%= coverage_css_class(source_files.covered_percent) %>"><%= source_files.covered_percent.round(2) %>%</span></span>
     covered at
     <span class="covered_strength">
       <span class="<%= strength_css_class(source_files.covered_strength) %>">
         <%= source_files.covered_strength.round(2) %>
       </span>
    </span> hits/line)
  </h2>
  <div>
    <b><%= source_files.length %></b> files in total.
    <b><%= source_files.lines_of_code %></b> relevant lines.
    <span class="green"><b><%= source_files.covered_lines %></b> lines covered</span> and
    <span class="red"><b><%= source_files.missed_lines %></b> lines missed </span>
  </div>
  <table class="gem_list">
    <thead>
      <tr>
        <th>Gem</th>
        <th>% covered</th>
        <th>Relevant Lines</th>
        <th>Lines covered</th>
        <th>Lines missed</th>
        <th>Avg. Hits / Line</th>
      </tr>
    </thead>
    <tbody>
      <% source_files.each do |source_file| %>
        <tr>
          <td class="strong">
            <% if gem_details? %>
              <%= link_to_gem_list(source_file.first.gem_name) %>
            <% else %>
              <%= source_file.first.gem_name %>
            <% end %>
          </td>
          <td class="<%= coverage_css_class(source_file.covered_percent) %> strong"><%= source_file.covered_percent.round(2).to_s %> %</td>
          <td><%= source_file.covered_lines + source_file.missed_lines %></td>
          <td><%= source_file.covered_lines %></td>
          <td><%= source_file.missed_lines %></td>
          <td><%= source_file.covered_strength %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if gem_details? %>
  <% source_files.each do |gem_files| %>
    <%= formatted_file_list(gem_files.first.gem_name, result, gem_files, skip_nav: true) %>
  <% end %>
<% end %>
