
<div id="header">
  <a href='<%= base_path %>'>Coverband Home</a> &nbsp;
  <a href='<%= base_path %>settings'>Configuration</a> &nbsp;
  <% if Coverband.configuration.web_enable_clear %>
    <%= button("#{base_path}clear", 'clear coverage report', delete: true) %>
  <% end %>
  <% if Coverband.configuration.web_debug %>
    <a href='<%= base_path %>debug_data'>Debug Data</a> &nbsp;
    <a href='<%= base_path %>enriched_debug_data'>Coverage Data</a> &nbsp;
  <% end %>
</div>
<% if notice.to_s.length > 0 %>
  <div class="notice"><%= notice %></div>
<% end %>
<div class="timestamp">Generated <%= timeago(Time.now) %></div>
<br/>
<% if defined?(result) %>
  <div class="timestamp">
    Coverage Recording Started: <%= timeago(result.source_files.first_seen_at) %>
  </div>
<% end %>

<ul class="group_tabs">
</ul>

<ul class="extra_tabs">
  <% if nav_options[:active_link] %>
    <li><a href='<%= base_path %>'>Coverage</a></li>
  <% end %>
  <% if Coverband.configuration.track_views %>
    <li class='<%= nav_options[:active_link] == 'views_tracker' ? 'active' : '' %>'>
      <a href='<%= base_path %>views_tracker'>Views Tracker</a>
    </li>
  <% end %>
  <% if Coverband.configuration.track_routes %>
    <li class='<%= nav_options[:active_link] == 'routes_tracker' ? 'active' : '' %>'>
      <a href='<%= base_path %>routes_tracker'>Route Tracker</a>
    </li>
  <% end %>
    <% if Coverband.configuration.track_translations %>
    <li class='<%= nav_options[:active_link] == 'translations_tracker' ? 'active' : '' %>'>
      <a href='<%= base_path %>translations_tracker'>Translations Tracker</a>
    </li>
  <% end %>
</ul>
